@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
.Row {
  font-family: 'Poiret One', cursive;
  color: black;
  background-color: rgba(255, 255, 255, 0.658);
  margin: 20px;
  padding: 20px;
  display: flex;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.568);
  border-radius: 10px;
}

.rowImage {
    width: 20%;
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
    margin: 10px;
    padding: 0px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.568);
    border-radius: 10px;
}

.rowTitle {
  width: 100%;
  text-align: center;
  padding: 5px;
}

.rowContent {
  text-align: center;
  width: 60%;
  height: 100px;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.397);
  margin: 10px;
  padding: 3px;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.568);
  border-radius: 10px;
}

.rowPlayButton {
  box-shadow: -2px 2px 1px rgba(0, 0, 0, 0.071);
  height: 100px;
  width: 20%;
  display: inline-block;
  text-decoration: none;
  color: rgba(2, 38, 92, 0.475);
  cursor: pointer;
  background-color:  rgba(255, 255, 255, 0.372);
  border: 5px solid rgba(2, 38, 92, 0.475);
  border-radius: 50%;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
}