.AppHeader{
  font-size: large;
  background-color: rgba(22, 1, 97, 0.575);
  box-shadow:  0px 10px 10px black;
  padding: 10px;
  text-align: center;
  color: rgb(249, 240, 255);
  text-shadow: -2px 2px 2px blueviolet;
}