@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Recursive', sans-serif;
}

body {
  background-color: rgb(117, 103, 248);
  background-image: linear-gradient(rgb(73, 148, 233), rgb(177, 49, 252), blue);
  color: rgb(218, 220, 221);
}